/* SETUP */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure,
h1,
h2,
h3,
h4,
p,
ul,
a {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/* GENERAL */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
}

/* img {
	width: 100%;
} */

.wrapper {
	max-width: 1080px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

h2 {
	font-size: 3.3rem;
	line-height: 0;
	margin-bottom: 3.5rem;
	text-transform: uppercase;
}

h3 {
	font-size: 2.4rem;
	line-height: 0;
	text-transform: uppercase;
}

p {
	font-size: 1.45rem;
	line-height: 2.45rem;
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: 2.5rem;
}

img {
	width: 100%;
}

.btn {
	font-size: 1.5rem;
	font-weight: 700;
	background-color: #8dd7e9;
	padding: 0.9rem 2.6rem;
	text-transform: uppercase;
}

/* HEADER */
header {
	background-image: url(../images/asset-1.jpg);
	height: 90vh;
	background-position: bottom;
	background-size: cover;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
}

nav {
	position: relative;
	padding-top: 1rem;
}

nav a,
nav a:visited {
	color: #fff;
	text-decoration: none;
}

.logo {
	font-size: 3.2rem;
	text-transform: uppercase;
}

nav ul {
	margin: 1.6rem 0;
	float: right;
	list-style: none;
}

nav li {
	font-size: 1.3rem;
	margin-left: 2rem;
	float: left;
}

.burger-menu {
	color: #fff;
	font-size: 25px;
	color: #fff;
	font-size: 25px;
	float: right;
	padding-top: 0.8rem;
	display: none;
}

.mobile-nav-items {
	position: absolute;
	width: 100%;
	margin: 1.6rem 0;
	float: right;
	list-style: none;
	padding-left: 0px;
	text-align: center;
	z-index: 99;
}

.mobile-nav-item {
	width: 100%;
	display: block;
	font-size: 1.3rem;
	background: #215a6d;
	margin-left: 0rem;
	float: none;
	padding: 1.2rem 0;
}

.hero {
	font-size: 1.3rem;
	line-height: 5.8rem;
	text-align: center;
	padding-top: 17.5rem;
}

.hero-highlight {
	display: block;
	font-size: 10rem;
}

.social {
	font-size: 1.75rem;
	text-align: left;
	position: absolute;
	right: 5rem;
	bottom: 1rem;
}

.social ul {
	list-style: none;
	margin-bottom: 1rem;
}

.social li {
	padding: 0.5rem;
}

.social a,
.social a:visited {
	color: #215a6d;
}

/* ABOUT */

.about {
	text-align: center;
	padding: 9rem 0;
}

.about-content {
	margin: 0 auto;
}

.about-content p {
	margin: 0 auto;
	width: 60%;
	padding-bottom: 2.5rem;
}

/* FEATURES */
.features {
	background-color: rgba(0, 0, 0, 0.295);
}

.feature-right,
.feature-left {
	height: 360px;
}

.feature-content {
	text-align: center;
	width: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.content-wrapper {
	margin: 0 auto;
	max-width: 540px;
}

.content-wrapper h3 {
	margin-bottom: 3.2rem;
}

.content-wrapper p {
	margin: 0 auto 2.5rem auto;
	width: 50%;
}

.feature-image {
	width: 50%;
	height: 100%;
}

.feature-image img {
	display: block;
	height: 360px;
	object-fit: cover;
	object-position: bottom;
}

.feature-right .feature-image {
	float: left;
}

.feature-right .feature-content {
	float: right;
}

.feature-right .content-wrapper {
	float: left;
}

.feature-left .feature-content {
	float: left;
}

.feature-left .content-wrapper {
	float: right;
}

.feature-left .feature-image {
	float: right;
}

/* PAGE LINKS */
.page-links {
	padding: 7rem 0;
	background-color: #215a6d;
	text-align: center;
	color: #fff;
}

.page-link {
	display: inline-block;
	margin: 0 7rem;
}

.page-link i {
	font-size: 3.1rem;
	margin-bottom: 3.5rem;
}

/* ABOUT ME */
.about-me {
	padding: 8rem 0;
	background-color: #eee;
}

.about-me-image {
	float: left;
	width: 25%;
}

.about-me-image img {
	display: block;
	height: 260px;
	object-fit: cover;
	object-position: bottom;
}

.about-me-content {
	float: right;
	width: calc(75% - 3rem);
	margin-left: 3rem;
	margin-top: 2.2rem;
}

/* GALLERY */

.gallery {
	padding: 8rem 0;
}

.gallery ul {
	list-style: none;
	padding: 0;
	font-size: 0;
	text-align: center;
}

.gallery li {
	display: inline-block;
	width: calc((100% / 3) - 3rem);
}

.gallery li:not(:last-child) {
	margin-right: 3.5rem;
}

.gallery img {
	display: block;
}

/* FOOTER */

.top-footer {
	background-color: #215a6d;
	color: #fff;
	padding: 8rem 0;
}

.top-footer p {
	margin-bottom: 1rem;
}

.footer-column,
.footer-newsletter {
	float: left;
}

.footer-newsletter {
	width: 50%;
}

.footer-newsletter form {
	width: 100%;
}

.footer-newsletter input {
	padding: 0.9rem 2.5rem;
	line-height: 1.5rem;
	font-size: 1.4rem;
	width: 74%;
	float: left;
	height: 4.1rem;
	font-family: 'Noto Sans', sans-serif;
	border: 0;
}

.footer-newsletter .btn {
	float: left;
	color: #000;
	padding: 0.9rem 0;
	text-transform: uppercase;
	width: 25%;
	text-align: center;
}

.footer-column {
	margin-left: 4rem;
}

.footer-header {
	font-weight: 700;
	font-size: 1.9rem;
	text-transform: uppercase;
}

.footer-column ul {
	list-style: none;
	padding-left: 0;
}

.footer-column li {
	font-size: 1.45rem;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin: 0.3rem 0;
}

.footer-column a,
.footer-column a:visited {
	color: #fff;
	text-decoration: none;
}

.contact,
.pages {
	width: calc((31% / 2) - 4rem);
}

.recent-posts {
	width: calc(19% - 4rem);
}

.pages {
	text-transform: uppercase;
}

.bottom-footer {
	background-color: #094154;
	padding: 0.6rem 0;
	text-align: center;
}

.bottom-footer p {
	margin: 0;
	color: #fff;
	font-weight: 700;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 980px) {
	.footer-newsletter {
		display: block;
		margin: 0 auto;
		float: none;
		width: 100%;
		text-align: center;
	}

	.footer-newsletter form {
		width: 70%;
		margin: 0 auto;
	}

	.footer-nav {
		text-align: center;
		width: 100%;
		margin: 3rem auto 0 auto;
	}

	.footer-column {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-left: 0;
	}

	.contact,
	.pages,
	.recent-posts {
		width: calc(95% / 3);
	}
}

@media only screen and (max-width: 770px) {
	.content-wrapper p {
		width: 65%;
	}

	.about-me-image {
		float: none;
		width: 80%;
		margin: 0 auto;
	}

	.about-me-image img {
		width: 80%;
		height: auto;
		margin: 0 auto;
	}

	.about-me-content {
		padding-top: 5rem;
		margin: 0 auto;
		float: none;
		width: 80%;
	}

	.about-me-content h2 {
		text-align: center;
	}

	.about-me-btn {
		text-align: center;
	}

	.page-link {
		margin: 4rem;
	}

	.footer-newsletter {
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 650px) {
	.feature-right,
	.feature-left {
		height: auto;
	}

	.feature-right .feature-image,
	.feature-left .feature-image {
		float: none;
		width: auto;
		height: auto;
	}

	.feature-image img {
		height: auto;
		width: 100%;
		display: block;
	}

	.feature-right .feature-content,
	.feature-left .feature-content {
		margin: 0 auto;
		padding: 5rem 0;
		text-align: center;
		float: none;
		width: auto;
		position: relative;
		top: 0;
		transform: none;
	}

	.feature-content .content-wrapper p {
		width: 100%;
		padding: 0 2rem;
	}

	.feature-right .content-wrapper,
	.feature-left .content-wrapper {
		max-width: 100%;
		float: none;
	}

	.page-link {
		display: block;
		margin: 0;
	}

	.page-link:not(:last-child) {
		margin-bottom: 5rem;
	}

	.gallery {
		padding: 0;
		overflow: auto;
		white-space: nowrap;
	}

	.gallery .wrapper {
		padding: 0;
	}

	.gallery li {
		width: 50%;
	}

	.gallery li:not(:last-child) {
		margin-right: 0;
	}

	.footer-newsletter form {
		width: 80%;
	}
}

@media only screen and (max-width: 474px) {
	.hero {
		padding-top: 10rem;
	}

	.hero-highlight {
		font-size: 6.5rem;
	}

	.nav-items {
		display: none;
	}

	.burger-menu {
		display: block;
	}

	.social {
		display: none;
	}

	.about-content p {
		width: 100%;
	}

	.about-me-image {
		width: 100%;
	}

	.about-me-content {
		width: 100%;
	}

	.top-footer {
		padding: 5rem 0;
	}

	.footer-newsletter form {
		width: 100%;
	}

	.footer-newsletter input {
		float: none;
		width: 100%;
		text-align: center;
	}

	.footer-newsletter .btn {
		float: none;
		display: block;
		width: 100%;
	}

	.footer-column {
		display: block;
		width: 100%;
	}

	.footer-column:not(:last-child) {
		padding-bottom: 2rem;
	}
}

@media only screen and (max-width: 320px) {
}
