/* SETUP */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b,
strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: \201c \201d \2018 \2019;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,
input {
	line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,
figure {
	margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(00 0 0);
	overflow: hidden;
}

/* GENERAL */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1080px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

/* HEADER */
header {
	background-image: url(assets/asset-1.jpg);
	height: 100vh;
	background-position: bottom;
	background-size: cover;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
}

nav {
	position: relative;
	padding-top: 1rem;
}

nav a,
nav a:visited {
	color: #fff;
	text-decoration: none;
}

.logo {
	font-size: 3.2rem;
	text-transform: uppercase;
}

nav ul {
	line-height: 3.2rem;
	float: right;
}

nav li {
	font-size: 1.3rem;
	margin-left: 2rem;
	display: inline-block;
}

.hero {
	font-size: 1.3rem;
	line-height: 5.8rem;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heroHighlight {
	display: block;
	font-size: 10rem;
}

.social {
	font-size: 1.75rem;
	text-align: left;
	position: absolute;
	right: 4rem;
	bottom: 1rem;
}

.social ul {
	list-style: none;
}

.social li {
	padding-top: 0.5rem;
}

.social a,
.social a:visited {
	color: #215a6d;
}

/* ABOUT */

/* FEATURES */

/* NAVIGATION */

/* GALLERY */

/* FOOTER */
